### Output configuration
#
# Default wallpaper (more resolutions are available in /usr/share/backgrounds/sway/)
#output * bg /usr/share/backgrounds/sway/Sway_Wallpaper_Blue_1920x1080.png fill
output * {
       bg "#000000" solid_color
#       bg /home/seba/private/IMG_20180108_220341.jpg fill
}

# Find displays:
# swaymsg -t get_outputs
#
# Example configuration:
#
#   output HDMI-A-1 resolution 1920x1080 position 1920,0

# output 'Sharp Corporation 0x14AD 0x00000000' {
#   scale 2
# }

# Output eDP-1 'Sharp Corporation 0x14AD 0x00000000' (focused)
#   Current mode: 3840x2160 @ 59.997002 Hz
#   Position: 0,0
#   Scale factor: 1.000000
#   Subpixel hinting: unknown
#   Transform: normal
#   Workspace: 1
#   Available modes:
#     3840x2160 @ 47.997002 Hz
#     3840x2160 @ 59.997002 Hz
output eDP-1 {
     scale 1
}

output 'Samsung Electric Company LS27A800U HNMW900076' {
     scale 1
     resolution 1600x900
     position 2880,0
}

output 'Optoma Corporation Optoma UHD QU519360439' {
#       pos 0 0
#       res 4096x2160
#       for_window [class="Firefox"] inhibit_idle fullscreen
#       for_window [app_id="firefox"] inhibit_idle fullscreen
}

# workspace 1 output DP-5 DP-2 DP-1 eDP-1
workspace 2 output eDP-1
# workspace 3 output DP-5 DP-2 DP-1 eDP-1
workspace 4 output eDP-1
# workspace 5 output DP-5 DP-1 eDP-1
# workspace 7 output DP-5 DP-2 eDP-1
# workspace 10 output eDP-1
