### Input configuration
#
# Example configuration:
#
#   input "2:14:SynPS/2_Synaptics_TouchPad" {
#       dwt enabled
#       tap enabled
#       natural_scroll enabled
#       middle_emulation enabled
#   }
#
# You can get the names of your inputs by running: swaymsg -t get_inputs
# Read `man 5 sway-input` for more information about this section.

input "type:keyboard" {
      xkb_layout "seba"
}

input "1452:671:Apple_Inc._Magic_Keyboard_with_Touch_ID_and_Numeric_Keypad" {
## keycode 64 alt
## keycode 50 win
## keycode ?? insert
## keycode 147 XF86MenuKB
## keycode 134 alt-gr
#      xkb_variant 
      xkb_layout "seba"
      xkb_model "macintosh"
      xkb_rules "evdev"
      xkb_options "grp:win_space_toggle"
}

input "1452:613:Apple_Inc._Magic_Trackpad" {
      Tap Enabled
      Natural_Scroll Disabled
}
