general
{
        colors = true
        interval = 5
        color_good      = '#00FF00'
        color_degraded  = '#FFFF00'
        color_bad       = '#FF0000'
}

#order += "disk /home"
#order += "disk /"
order += "battery 0"
#order += "run_watch VPN"
order += "wireless wlp58s0"
#order += "ethernet eno1"
order += "volume laptop"
#order += "volume dock"
#order += "cpu_usage"
order += "time"



wireless wlp58s0
{
        format_up = "W: (%quality at %essid) %ip"
        format_down = ""#"W: down"
}

ethernet eno1
{
        # sudo setcap cap_net_admin=ep $(which i3status)
        format_up = "E: %ip (%speed)"
        format_down = ""#"E: down"
}

battery 0
{
        format = "%status %percentage %remaining"
        format_down = ""
        last_full_capacity = true
        integer_battery_capacity = true
        low_threshold = 15
        threshold_type = percentage
        hide_seconds = true

        status_chr = "⚡ CHR"
        status_bat = "🔋 BAT"
        status_unk = "? UNK"
        status_full = "☻ FULL"
}

run_watch VPN
{
        pidfile = "/var/run/openvpn.pid"
}

time
{
        format = "%d-%m-%Y %H:%M"
}

cpu_usage
{
        format = "%usage"
        max_threshold = 75
        degraded_threshold = 25
}

load
{
        # Number of processes waiting for CPU time last [1,5,15] minutes.
        format = "%1min"
}

disk "/" {
        format = "%free"
}

disk "/home" {
        format = "%free"
}

volume laptop
{
        device = "pulse:alsa_output.pci-0000_00_1f.3.analog-stereo"
        format = "♪: %volume"
#        format_muted = " %volume"
        color_degraded = "#FF0000"
#        device = "default"
        mixer = "Master"
        mixer_idx = 0
}
volume dock
{
        device = "pulse:alsa_output.usb-DisplayLink_Dell_D3100_USB3.0_Dock_1702141434-02.analog-surround-21"
}